<!DOCTYPE html>
<!-- Using model binding on front end -->
@model JsonData.PayInfo

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Paymerang Client billing info:</h1>
    
    <h2>@Model.PayInfo</h2>
    <table>

         
        <tr>
            @foreach (var payee in ViewBag.payee){
               
            }
            <th>Payee</th> 
            <th>Payment Info:</th> 
            <th>Remittance</th>
        </tr>
        <tr>
            <td>Name</td>@ViewBag.payee.PayeeName
            <td>PAN</td>@ViewBag.payment.PaymentPAN
            <td>Payor Name</td>@ViewBag.remittance.RemittancePayorName

        </tr>
        <tr>
            <td>Fax</td> @ViewBag.payee.PayeeFax
            <td>CVV</td> @ViewBag.payment.PaymentCVV
            <td>Payor ID</td> @ViewBag.remittance.RemittancePayorId

        </tr>  
        <tr>    
            <td>Phone Number</td> @ViewBag.payee.PayeePhone
            <td>Exp</td> @ViewBag.payment.PaymentExp
            <td>Invoice No.</td> @ViewBag.remittance.RemittanceInvoiceNo

        </tr>  
        <tr>    
            <td>Address</td> @ViewBag.payee.PayeeAddress
            <td>Description</td> @ViewBag.remittance.RemittanceDescription
            <td>Amount</td> @ViewBag.remittance.RemittanceAmount
        </tr>       
   </table>
   
</body>
</html>