<!DOCTYPE html>
<!-- Using model binding on front end -->
@model JsonData.Models.PayInfo

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Paymerang Client billing info:</h1>
    
    <h2>@Model.PayInfo</h2>
    <table>

         
        <tr>
            @foreach (var payResult in results){
               
            
            <th>Payee</th> @payResult.PayeeName
            <th>Payment Info:</th> @payResult.RemittanceAmount
            <th>Remittance</th> @payResult.RemittancePayorName
        </tr>
        <tr>
            <td>Name</td> @payResult.PayeeName
            <td>PAN</td> @payResult.PaymentPAN
            <td>Payor Name</td> @payResult.PayeeName

        </tr>
        <tr>
            <td>Fax</td> @payResult.PayeeFax
            <td>CVV</td> @payResult.PaymentCVV
            <td>Payor ID</td> @payResult.RemittancePayorId

        </tr>  
        <tr>    
            <td>Phone Number</td> @payResult.PayeePhone
            <td>Exp</td> @payResult.remittanceLines.RemittanceInvoiceNo
            <td>Invoice No.</td> @payResult.Remittance.RemittanceInvoiceNo

        </tr>  
        <tr>    
            <td>Address</td> @payResult.PaymentAddress
            <td>Description</td> @payResult.remittanceLines.RemittanceDescription
            <td>Amount</td> @payResult.Remittance.RemittanceAmount
        </tr>  
        }     
   </table>
   
</body>
</html>