<!DOCTYPE html>
<!-- Using model binding on front end -->
@model PayInfo[]
@using JsonData.Models


<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="~/css/site.css" />
    <style>
        body {background-color: #f5f5f5;
        width: 1000px;}
        h1   {color: #5a1414;}
        p    {color: #blue;}
        table{width: 400px;
        }
        table, th, td {
        border: 1px solid black;
        width: 100%;
        }
        th {
        height: 50px;
        text-align: left;
        max-width:100%;
        white-space:nowrap;
        }
        th, td {
        padding: 15px;
        text-align: left;
        }   

        tr:hover {background-color: #f5f5f5;}
        .headers{width: 800px;}
        #FirstCell{
            width:800px;
        }
        .headers{
            width: 800px;
        }
    </style>
    
</head>
<body>
    <h1 id="fancy">Paymerang Client billing info:</h1>
    <h2>   </h2>
    
  <div style="overflow-x:auto;">
    <table>
        <div class="headers">
            <th id="FirstCell">PayInfo</th>
            <th id="SecondCell">Payment Address</th>
            <th id="ThirdCell">Remittance</th>
        </div>
        <h1>Pay Data</h1>
        @foreach (PayInfo paymentData in @Model){
        <tr>Data</tr>
            <td>Payee Name @paymentData.PayeeName</td>
            <td>Payee Fax @paymentData.PayeeFax</td>
            <td>Payee Phone @paymentData.PayeePhone</td>
            <td>Payment PAN @paymentData.PaymentPAN</td>
            <td>Payment CVV @paymentData.PaymentCVV</td>
            <td>Payment Exp @paymentData.PaymentExp</td>
        
            <td>Address 1 @paymentData.Address</td> 
            <td>Address 2 @paymentData.Address</td> 
            <td>City @paymentData.Address</td> 
            <td>State or Province @paymentData.Address</td> 
            <td>Zip @paymentData.Address</td>    
        
            <td>RemittancePayorName @paymentData.RemittanceLines</td>
            <td>RemittancePayorId @paymentData.RemittanceLines</td>
            <td>RemittanceInvoiceNo @paymentData.RemittanceLines</td>
            <td>RemittanceDescription @paymentData.RemittanceLines</td>
            <td>RemittanceAmount @paymentData.RemittanceLines</td> 
        }       
    </table>
   </div>
</body>
</html>

